{% extends 'dashboard.html' %}

{% block title %}
<title>О нас</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Месторасположение</h1>
    <p>Наш офис находится по адресу:<br>Россия,г. Пермь, ул. Академика Королёва, 5</p>
    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/tsentr_robototekhniki_pri_pnipu/140591912501/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Центр робототехники при ПНИПУ</a><a href="https://yandex.ru/maps/50/perm/category/further_education/184106162/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Дополнительное образование в Перми</a><a href="https://yandex.ru/maps/50/perm/category/artistic_group/184105908/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Творческий коллектив в Перми</a><iframe src="https://yandex.ru/map-widget/v1/?ll=56.219432%2C58.051352&mode=poi&poi%5Bpoint%5D=56.217470%2C58.051977&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D140591912501&z=17.66" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
</div>
{% endblock %}

