<!DOCTYPE html>
<html lang="en">
<style>
    #wrapper1 {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    #wrapper {
        margin: 0;
        position: absolute;
        top: 35%;
        left: 49%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div id="wrapper">
        <h3>Регистрация</h3>
    </div>
    <div id="wrapper1">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}
            <br><br>
            {{ form.password }}
            <br><br>
            {{ form.submit }}
        </form>

        <a href="{{ url_for('login') }}"><br>Есть аккаунт? Войдите сейчас</a>
    </div>
</body>

</html>